<h3>One Campaign Monitor Settings</h3>

<div class="field">
    <div class="heading">
        <label for="campaignmonitor_api_key" class="required">API Key</label>
        <div class="instructions">
            <p>Go to <strong>Account Settings</strong> in Campaign Monitor to get your API Key. This is necessary for authentication.</p>
        </div>
    </div>
    <div class="input">
        <input class="text fullwidth" type="text" id="campaignmonitor_api_key" name="campaignmonitor_api_key" value="{{ settings.campaignmonitor_api_key }}" />
    </div>
</div>

<div class="field">
    <div class="heading">
        <label for="verify_recaptcha" class="required">Verify Recaptcha</label>
        <div class="instructions">
            <p>If enabled, a recaptcha parameter (recaptchaResult) must be included in the subscribers/add action, which will then be validated before a subscriber can be added.</p>
        </div>
    </div>
    <div class="input">
        <input type="checkbox" id="verify_recaptcha" name="verify_recaptcha" value="{{ settings.verify_recaptcha}}">Verify Recaptcha<br>
    </div>
</div>

<div class="field">
    <div class="heading">
        <label for="google_recaptcha_secret_key" class="required">Google Recaptcha Secret Key</label>
        <div class="instructions">
            <p>This is the value for the Google Recaptcha secret key.</p>
        </div>
    </div>
    <div class="input">
        <input class="text fullwidth" type="text" id="google_recaptcha_secret_key" name="google_recaptcha_secret_key" value="{{ settings.google_recaptcha_secret_key }}" />
    </div>
</div>
