<h3>One Campaign Monitor Settings</h3>

<div class="field">
    <div class="heading">
        <label for="campaignmonitor_api_key" class="required">API Key</label>
        <div class="instructions">
            <p>Go to <strong>Account Settings</strong> in Campaign Monitor to get your API Key. This is necessary for authentication.</p>
        </div>
    </div>
    <div class="input">
        <input class="text fullwidth" type="text" id="campaignmonitor_api_key" name="campaignmonitor_api_key" value="{{ settings.campaignmonitor_api_key }}" />
    </div>
</div>
